body{
  padding-top: 50px;
  background-color: #3DE006;
}

#contact {
  background: #000000;
  color: white;
}

#project{
  background: #001427;
  color: #000000;
}

#skills{
  background: #002A22;
  color: white;

}
#d{
  text-align: center;
  opacity:0.8;
}
.sec-main {
  position: relative;
  height: 560px;
  background-size: cover;
  background-color: #000000;
  color: white;
  text-align: center;
}

#pr{
  color: white;
}

body{

	width:100%;
	height:100%;
  font-family: 'Roboto Condensed', sans-serif;
  
	
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-family: "PT Sans";
  background-color: #ddd;
  color: #333;
} */

.section1 {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section1 h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {	
  width: 18%;
	}
}

.section1 p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}

.section1 a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.section1 a:hover {
  background-color: #1D222D;
}

.section1 a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 500px) {
  .top-border {	
    display: none;
  }
  .section1 {
  border-top: 2px solid #333;
  }
  .section1 h1 {
    margin: 20px 6px;
  }
}




/*=========================
  Icons
 ================= */



