body{
  padding-top: 50px;
  background-color: #3DE006;
}

#contact {
  background: #000000;
  color: white;
}

#project{
  background: #001427;
  color: #000000;
}

#skills{
  background: #002A22;
  color: white;

}
#d{
  text-align: center;
  opacity:0.8;
}
.sec-main {
  position: relative;
  height: 560px;
  background-size: cover;
  background-color: #000000;
  color: white;
  text-align: center;
}

#pr{
  color: white;
}

body{
	width:100%;
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	
}





